Repository js-omar/eslint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell -c cspell.json --no-must-find-files, sort-package-json

Update publish.yml
  .github/workflows/publish.yml
Due: none

Update .releaserc.json
  .releaserc.json
Due: none

docs(release): 🔖 1.9.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  f5b56a79dc66330657dc1efee6bb5f5717911d2b
Due: none

fix: change message string
  src/index.ts
Due: eslint --fix, prettier --write, cspell -c cspell.json --no-must-find-files

docs(release): 🔖 1.9.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  2673bdb0139e342a409d41414f3b9f6629d77ecc
Due: none

fix: move sonarjs recommended from core eslint to base and typescript
  .eslintrc.base.js
  .eslintrc.js
  .eslintrc.typescript.js
  cspell.json
Due: eslint --fix, prettier --write, cspell -c cspell.json --no-must-find-files

docs(release): 🔖 1.9.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  27715226df9125eb0062c27f8c440fb832e09f02
Due: none

docs(read-me): install this package as dev dependencies
  README.md
Due: none

feat(prettier): use shared prettier configurations
  .prettierrc
  package.json
Due: sort-package-json

feat: refactor use each config alone
  .eslintrc.angular.js
  .eslintrc.base.js
  .eslintrc.js
  .eslintrc.typescript.js
  README.md
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, cspell -c cspell.json --no-must-find-files, sort-package-json

docs(release): 🔖 1.10.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  133017b48a44cadf6b3e33a0f45b93902f65568d
Due: none

feat(cspell): add cspell config to eslint rules
  .eslintrc.angular.js
  .eslintrc.base.js
  .eslintrc.typescript.js
  cspell.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, cspell -c cspell.json --no-must-find-files, sort-package-json

docs(release): 🔖 1.11.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  ee5ce1493d9f0e4ce8fb7f1e8ee5d44c6872eff5
Due: none

feat(sort-json): add sort-json extension to eslint
  .eslintrc.js
  .eslintrc.json.js
  .lintstagedrc.json
  README.md
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, cspell -c cspell.json --no-must-find-files, sort-package-json

docs(release): 🔖 1.12.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  a4cc9e9c7c60f41c2af849972d352e7836ce4a84
Due: none

fix(cspell): move cspell config to base eslint config
  .eslintrc.base.js
  .eslintrc.javascript.js
  .eslintrc.js
  .eslintrc.typescript.js
  README.md
Due: eslint --fix, prettier --write, cspell -c cspell.json --no-must-find-files

docs(release): 🔖 1.12.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  84d3b7d643c1e89f017d39efc73f6e89f328b26e
Due: none

chore(lint-stage): fix rules in lint stage file
  .lintstagedrc.json
Due: none

feat: extend typescript eslint recommended
  .eslintrc.js
  .eslintrc.typescript.js
  README.md
Due: eslint --fix, prettier --write, cspell -c cspell.json --no-must-find-files

docs(release): 🔖 1.13.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  2b51639223efaff55e5775be89a2aec81ae8fedc
Due: none

feat(eslint-comment): add `eslint-plugin-eslint-comments` to eslint extends
  .eslintrc.javascript.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, cspell -c cspell.json --no-must-find-files, sort-package-json

feat(eslint-unicorn): add `eslint-plugin-unicorn` to eslint extends
  .eslintrc.javascript.js
  .eslintrc.typescript.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, cspell -c cspell.json --no-must-find-files, sort-package-json

docs(release): 🔖 1.14.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  e2afc9938aa432b87556c3dcb74070dac771f512
Due: none

feat(eslint-type-checking): add `requiring-type-checking` to typescript eslint extends
  .eslintrc.angular.js
  .eslintrc.base.js
  .eslintrc.js
  .eslintrc.json.js
  .eslintrc.typescript.js
  README.md
Due: eslint --fix, prettier --write, cspell -c cspell.json --no-must-find-files

fix: move angular eslint package to peer deps
  package.json
Due: sort-package-json

docs(release): 🔖 1.15.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  380e8a593dd93f8f5926f75f0fc3152ecdd01ef8
Due: none

feat(airbnb-typescript): add airbnb typescript to eslint extends
  .eslintrc.typescript.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, cspell -c cspell.json --no-must-find-files, sort-package-json

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: any of: *.{ts,js}
  cspell -c cspell.json --no-must-find-files: any of: *.{ts,js}
  sort-package-json: any of: package.json
